<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/Training.java.day7/src/com/dnpass/training/java/day7/samples/AccountTest.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.dnpass.training.java.day7.samples.AccountTest"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="day7Practice"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Training.java.day7"/>
</launchConfiguration>
